.flexibleArticlesContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: #222222;
    top: 50px;
}

.flexibleArticleContainerHorizontal {
    display: flex;
    position: relative;
    width: 60%;
    padding: 16px;
    align-items: center;
    /* Apple's Backgound Color: #F5F5F7 */
    background: #111111;
    border-radius: 16px;
}

.flexibleArticleContainerHorizontal a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
}

.flexibleArticleContainerHorizontal img {
    height: 150px;
    width: 250px;
    object-fit: cover;
}

.flexibleArticleContainerVertical {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.articleHeading {
    font-size: 28px;
    font-weight: 600;
    color: white;
    margin: 0px;
}

.articleSubHeading {
    font-size: 20px;
    font-weight: 400;
    /* Apple's Text Color: #1D1D1F */
    color: white;
    margin: 0px;
    padding-top: 16px;
    line-height: 1.6;
}