.flexibleOpenSourceNavContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: #111111;
    top: 50px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.flexibleOpenSourceNavContainerHorizontal {
    display: flex;
    position: relative;
    margin-left: 48px;
    margin-right: 48px;
    align-items: flex-end;
}

.flexibleOpenSourceNavContainerVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 48px;
}

.flexibleOpenSourceNavContainerHorizontal a {
    text-decoration: none;
}

.flexibleOpenSourceNavContainerHorizontal a:hover p {
    color: #7BB9F9;
}

.flexibleOpenSourceNavContainerVertical img {
    width: 50px;
}

.flexibleOpenSourceNavContainerVertical p {
    margin: 0px;
    padding-top: 4px;
    font-size: 11px;
    color: white;
}

#activeLinkOpenSource {
    color: #7BB9F9;
}