.gridContainer {
    padding: 12px 12px 12px 12px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 12px;
    background-color: rgba(250, 250, 250, 1.0);
}

.gridImage {
    background-color: rgba(250, 250, 250, 1.0);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gridHeading {
    font-size: 32px;
    font-weight: 400;
    color: White;
}

.gridSubHeading {
    font-size: 24px;
    font-weight: 400;
    color: White;
}